header, nav, main {
    max-width: 960px;
    margin: auto;
}

/* NAVIGATION STUFF GOES HERE  */
#hamburgerBtn{
    display: none;

}

.moveOver>.content{
    transform: translateX(0px);
}

nav{
    background-color: transparent;
    position: static;
    transform: translateX(0);
    width: auto;
    ul{
        display: flex;
        margin-left: 2%;
        border-left: 1px solid rgba(0,0,0,0.2);
    }

    ul li a{
        padding: .6rem 1.5rem;
        border: none;
        border-right: 1px solid rgba(0,0,0,0.2);
    }
}
#navWrapper{
    background-color: #f7f7f7;
}

#cards{
display: grid;
grid-template-columns: 1fr 1fr;
section{
    grid-template-areas: 
    "photo name"
    "photo phone"
    "photo address";
    column-gap: 8px;
  }
  }
